/* Border Hover Fix */
.skI5tVFxF4zkY8z56LALc .CcuoOiSs23_Y___I-1Myh ._2MPpwm3uMppV0DPtkN4Pp_, .skI5tVFxF4zkY8z56LALc .CcuoOiSs23_Y___I-1Myh ._2YbSwspXZ90_vgzS5O3X4F {
    background-size: contain;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    transition-property: transform;
    transform-origin: 50% 50%;
    -moz-transition-duration: .4s;
    -moz-transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    -moz-transition-property: transform;
    -moz-transform-origin: 50% 50%;
    transition-property: transform, filter;
}
/* Bundle Hover Fix */
._2p-sr64TRMhny7CqiT1yS6 {
    transform: translate(0px);
    perspective: 300px;
    perspective-origin: 50%;
    perspective-origin: inherit;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    transition-property: transform;
    transform-origin: 50% 50%;
    -moz-transition-duration: .4s;
    -moz-transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    -moz-transition-property: transform;
    -moz-transform-origin: 50% 50%;
    transition-property: box-shadow, transform, filter;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
._1hyVDUTu00_a_5XtwVOdU2:hover ._2p-sr64TRMhny7CqiT1yS6 {
    transform: scaleX(1) scaleY(1);
    filter: brightness(1.1) contrast(0.95) saturate(1);
    box-shadow: 3px 8px 8px 3px rgba(0,0,0,.596);
}

/* List BG */
._2MFEYjLdT-bfsz3n1hkGnf, ._1TX8MTfNTg-C5c8w44F6aZ, ._3YNnWUgHCZcVvmfX9qpOQ {
    border-radius: 24px !important;
}
.go6jLpmJlgzmvSwdeqLFv {
    border-radius: 24px !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow)
}

/* Discounts */
._2dE0fIixo74TkEyDUMSwby {
    border-radius: 6px !important;
}

/* Items */
._2EUBPpuLIR8PTTb_d40Gv9 {
    border-radius: 12px !important;
}
/* ico */
.skI5tVFxF4zkY8z56LALc .CcuoOiSs23_Y___I-1Myh ._2_RnvOULQZCa2zLP-wkKt0 ._3OyyiqHIwtrEKKyPTWPTGK ._3RN5Yt4DuIZQ7nREAU7pp3 {
    border-radius: 50% !important;
    filter: var(--bg-shadow) !important;
}