._1FPIVJTLsw1nvAN24BGGKg .gc-rqvG6ITYgP26WGwJZz {
    transition: .1s !important;
}
/* Disclaimer */
._1RsiclQYbOWMcz3Hr6dVT9 {
    color: rgb(var(--text-dark)) !important;
}
/* Seller */
._1090TwnnSh07Rya_5ss37E .A2B2VZqisd8LEU7zknWqk {
    border-radius: 12px !important;
}
._3JepbxeEa0I4l8TnG9DeT5 {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
    border-radius: 12px !important;
}
._2artmqqQS2Rl8YMsi1nV-U {
    border-radius: 12px !important;
}
._1ABCOz8DSrl-YJdh1xD-m0 {
    border-radius: 6px !important;
}
/* Big */
._2hhNOdcC6yLwL_rugP3YLf.PZY_7wH_NY7OgzH9MBiB8 {
    border-radius: 24px !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
.PZY_7wH_NY7OgzH9MBiB8 .oW0H1sBVE8K8u0qbq_Tm5 {
    border-bottom-right-radius: 24px !important;
}
.yvqq8z2k4i7-Mzx-JHeNC ._2eQ4mkpf4IzUp1e9NnM2Wr {
    border-top-left-radius: 24px !important;
    border-bottom-left-radius: 24px !important;
}
.PZY_7wH_NY7OgzH9MBiB8 .oW0H1sBVE8K8u0qbq_Tm5 ._3lmdEmwrmqe-kicNCZ9v-I {
    border-bottom-right-radius: 24px !important;
}
.COp9MkmgXCc5Y3ytJM70W .rE40TQ86G7cjVETvUYZm3 img {
    border-radius: 6px !important;
}
.FATLceF4ncP8L8QnrQTXV .h0pphNa_Fdu4JUevL5V9y>img, .FATLceF4ncP8L8QnrQTXV ._20YpaGv3V_QArQyy15zAJc img  {
    transition: .15s !important;
    border-radius: 12px !important;
}
.FATLceF4ncP8L8QnrQTXV {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
/* Items */
._22AcxR1RBDH6i-gjKRHYk0, ._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj {
    border-radius: 12px !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B {
    border-radius: 24px !important;
}
._2jsr3PEq2iin7lU8wSO8X9 {
    border-radius: 24px !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
._2jsr3PEq2iin7lU8wSO8X9 ._1I27KVlWtKyGn2CPX9N1E1 ._2jpCsyBPApIKbMMORoLk5B {
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
}
.oAqlZTgPU37Nb8gBT5eAM {
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
}
/* Share */
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c {
    border-radius: 12px !important;
    background: rgb(var(--bg-hover-dark)) !important;
}
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c:hover {
    border-radius: 12px !important;
    background: color-mix(in srgb, rgb(var(--bg-hover-dark)), #fff 10%) !important;
}
/* Wishlist */
._2gxv9cF-4n9wq4yxruOTNl {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
._3notzMjxQtogi11XHZMYXI {
    transition: .15s !important;
    background: transparent !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
._3notzMjxQtogi11XHZMYXI:hover {
    background: rgb(var(--bg-hover-dark)) !important;
}
.WishlistButton {
    transition: .05s !important;
}
.WishlistButton svg polygon {
    fill: #fff;
}
.v9uRg57bwOaPsvAnkXESO>div.WishlistButton {
    border-radius: 50px !important;
}
.v9uRg57bwOaPsvAnkXESO>div.WishlistButton:hover {
    border-radius: 12px !important;
}
/* Discounts */
._3fFFsvII7Y2KXNLDk_krOW {
    color: rgb(var(--text-dark)) !important;
}
._3fFFsvII7Y2KXNLDk_krOW::before {
    border-bottom: 1.5px solid rgb(var(--text-dark)) !important;
}
._1g0B-RjwkUV0_MDURgy3Bi {
    border-radius: 4px !important;
    background: rgb(var(--bg-dark)) !important;
}
._1g0B-RjwkUV0_MDURgy3Bi .cnkoFkzVCby40gJ0jGGS4 {
    border-radius: 4px !important;
}
._1JuIpzMtS7-xZrnUmEQ4my:has(.yoe6d_43t3I6-mjbZGkLs.CartBtn) ._1g0B-RjwkUV0_MDURgy3Bi {
    border-radius: 8px !important;
}
._3j4dI1yA7cRfCvK8h406OB {
    border-top-left-radius: 8px !important;
    /* background: rgb(var(--bg-dark)) !important; */
}
/* ._1g0B-RjwkUV0_MDURgy3Bi:has(._3NhLu7mTdty7JufpSpz6Re) .cnkoFkzVCby40gJ0jGGS4 {
    
} */
/* Video */
.html5-video-player a {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
/* Add to Cart */
.yoe6d_43t3I6-mjbZGkLs {
    border-radius: 8px !important;
    transition: .15s !important;
    color: rgb(var(--text-hover-dark)) !important;
    filter: var(--bg-shadow) !important;
}
/* Todays Deal */
._21_xVixMh0-rRqUGdGxbEg {
    color: rgb(var(--text-hover-dark)) !important;
}
._3pSANczPET1GBWiNfM8ZEZ ._1tG1_bqddtY0lm02Wf4X9T {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    background: rgb(var(--bg-hover-dark)) !important;
}
._3pSANczPET1GBWiNfM8ZEZ .pNmm6ej3gbZJbTFnF34Bb img {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
/* new */
._2s-O5T3qJJYR2AUq4b9jIN ._2_KY_e11FV0ftXR2_7TMmP {
    border-radius: 4px !important;
    margin-right: 5px !important;
}
/* prepurchase */
._1Fru-E7WQMr8G_aR2sMg5F span {
    border-radius: 4px !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
    background: rgb(var(--bg-dark)) !important;
}

/* Hover */
._2jsr3PEq2iin7lU8wSO8X9 ._1OMasH6HMfWdJfC-XkZlHF .wm-2TrfQqrfbj8zWlFAHN img {
    border-bottom-right-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
._2jsr3PEq2iin7lU8wSO8X9 ._1OMasH6HMfWdJfC-XkZlHF .wm-2TrfQqrfbj8zWlFAHN {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}