/* Base */
.ContextMenuPopupBody.friendsui-container {
    background: unset !important;
    transition: .3s !important;
}
.popup_target {
    background: unset !important;
}
.GreenEnvelopeMenu, .PP7LM0Ow1K5qkR8WElLpt {
    padding: 6px !important;
    border-radius: 8px !important;
    background-color: color-mix(in srgb, #161D25, transparent 7%) !important;
    backdrop-filter: blur(15px) !important;
}