/* Header, Bottom */
._3Z7VQ1IMk4E3HsHvrkLNgo, ._3vCzSrrXZzZjVJFZNg9SGu, ._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K {
    background: unset !important;
    box-shadow: unset !important;
}

/* BG */
._1ENHEsrSLcTRtPQFl1F-wL._1DvwQt0JN-Ogp_4tVZdkzX {
    border: unset !important;
    background-color: rgb(var(--bg-dark)) !important;
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt:hover {
    background-color: rgb(var(--bg-hover-dark)) !important;
}