/* Game Covers */
.WYgDg9NyCcMIVuMyZ_NBC {
    border: none !important;
    border-radius: 12px !important;
}
/* Icons */
._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    transition-property: transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    border-radius: 12px !important;
    /* border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important; */
}
._2IYf7aM4eYQ2Oh-ntmzHbm ._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Whats New */
._2-p7shAZYrRijpaTU9bAFR>div {
    transition: .15s !important;
    border-radius: 50% !important;
    margin: 3px !important;
}
/* img */
.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY {
    background: unset !important;
    border-radius: 24px !important;
}
.B-vCdL38RiJlhfSRgZv78 ._3Rb_j3lgHaVVIud4Gla7_m {
    border-radius: 24px !important;
}
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._3Rb_j3lgHaVVIud4Gla7_m {
    background: unset !important;
}
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._1-W_ZQ4XyImc86SJFamGha, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._1-W_ZQ4XyImc86SJFamGha {
    transform: scale(1.2) !important;
    filter: blur(5px) brightness(0.7) grayscale(1) !important;
}
/* date */
.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp {
    background: rgb(var(--bg-dark)) !important;
    border-top-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
}
/* txt */
.aqYQCF7Ny9x3EKcjCOTRY {
    cursor: pointer !important;
}
._3_xMyCJAh_Dv99KgZ54P3j {
    background: unset !important;
}
._3_xMyCJAh_Dv99KgZ54P3j:hover {
    background: unset !important;
}
._28IqrZIgxpqkUQyhdaLDUN {
    transition: .15s !important;
    color: rgb(var(--text-dark)) !important;
}
._3_xMyCJAh_Dv99KgZ54P3j:hover ._28IqrZIgxpqkUQyhdaLDUN {
    color: rgb(var(--text-hover-dark)) !important;
}

/* Last Game Button */
._3AjoLnMNKxYmNTGTJCLfgs._3VOR2AeYATx3qSE0I-Pm-5 {
    border-radius: 10px !important;
}

/* Steam Deck Compability */
.tvCvyQrDNndbXWp_b5__b {
    flex-direction: column !important;
}
.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel:has(._2d1hSvdpY5L2-GN1EnUb9Z) .tvCvyQrDNndbXWp_b5__b ._3BPFqWN5T-x8njyrRYM1CX {
    margin-bottom: 75px !important;
}
/* Install Btn */
._8YrRmy_c6O0FCxFT8gjqo {
    border-radius: 12px !important;
}
._3kDT9HSaC2BYFyAndTzQY4 {
    margin-left: unset !important;
}

/* new to library */
.N8aJrSpxQ6II4CY_aFdYI {
    box-shadow: unset !important;
    margin-top: -8px !important;
    border-radius: 24px !important;
    filter: var(--bg-shadow) !important;
}

/* loading On Game Cover */
.kX-tIJx4a9vKVuUkKJARv._1wAArO4jx5Kth5YdKAQ_Sd._3BNwjsy5WltxayFptkx3KF {
    width: 70% !important;
    margin-bottom: 90% !important;
    box-shadow: 0px 0px 10px #000 !important;
    filter: rgb(var(--bg-shadow)) !important;
}

/* Misc */
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
    border-radius: 12px !important;
}
._3dncOt2dhpnFYQn-WYQ3Mb ._2JYwpg3-WbCSXH-w5h-zL_ {
    border-radius: 50% !important;
}
._2gISWIeEzZ9PNuAzVuMaWd {
    border-radius: 50% !important;
}
/* Big Cover Fix */
/* Лупа-Залупа */
._1Id6ZFEUVa5PKEMIvSg4nE ._2mMT5wI35EZKZ_XeO7BfPu {
    border-radius: 50px !important;
    background: unset !important;
    mix-blend-mode: plus-lighter !important;
}
/* Border */
._1Id6ZFEUVa5PKEMIvSg4nE.YR4JAs0b6FIwpXGQ4p2eg {
    border-color: transparent !important;
}
/* Shadow */
._3JzkHhrsBKThuVrwsu3Q7T._3JzkHhrsBKThuVrwsu3Q7T {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}

/* Game Full */
.Jbe--NUNw7sxbxGsMSjVa {
    /* mask-image: linear-gradient(0deg, var(--bg-dark) 90%, rgba(0, 0, 0, 0) 100%) !important; */
    mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 93%, rgba(0,0,0,0) 100%) !important;
    background: rgb(var(--bg-dark)) !important;
}
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
    background: unset !important;
}
/* BG */
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(var(--bg-dark), 0.5) 10%, rgba(0, 0, 0, 0) 100%) !important;
}
/* Some more BG */
._2OOzYVWIHaKXm6_7sscT9i ._1Qa-Aq8WFiF9584yU_1xuC {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(var(--bg-dark)) 78%, rgb(var(--bg-dark)) 100%) !important;
    mask-image: linear-gradient(0deg, rgb(var(--bg-dark)) 95%, rgba(0, 0, 0, 0) 100%) !important;
}
/* ._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    background: unset !important;
} */
.HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u:not(._3_IUVzR9tpG_JKEjhwXEAb) {
    mask-image: unset !important;
    mask-image: linear-gradient(180deg, rgb(var(--bg-dark)) 0%, rgba(0, 0, 0, 0) 100%) !important;
    /* -webkit-mask-image: unset !important; */
}
._2l416KfEtI4CL0mCUEmOBw {
    background: unset !important;
}

/* Shadow in down */
._3VQUewWB8g6Z5qB4C7dGFr._2iE-78WxX2Pj4GHbq7YJiA {
    mask-image: linear-gradient(180deg, rgb(var(--bg-dark)) 90%, rgba(0, 0, 0, 0) 100%) !important;
}

/* Game Full when Scroll Down */
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    background: unset !important;
    backdrop-filter: blur(10px) !important;
}
/* Misc */
._7k4qmaN8SUMvv6u-L81uk {
    padding: 2px 20px 4px 0px !important;
}
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ {
    border-radius: 24px !important;
    padding: 4px 12px 4px 12px !important;
}
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover {
    background: color-mix(in srgb, rgb(var(--bg-hover-dark)), #fff 10%) !important;
}
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ ._2sNDjgK9EWiPLdNGkjun-w {
    color: rgb(var(--text-dark)) !important;
}
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover ._2sNDjgK9EWiPLdNGkjun-w {
    color: rgb(var(--text-hover-dark)) !important;
}

/* Left Column */
._3x1HklzyDs4TEjACrRO2tB {
    background: unset !important;
}
/* Home */
._2TKEazUUS3TlniZfpc8OOe {
    background: unset !important;
    box-shadow: unset !important;
}
._3pSPluBgf0NeR1kkCLWMhR, ._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC, .uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    transition: .3s !important;
    background-color: rgb(var(--bg-hover-dark)) !important;
    border-radius: 5px !important;
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:hover {
    background-color: #3e4047 !important;
}
._1ZS_xta5HMXzR8JgxDH6n7 {
    padding: 0px 6px 0px !important;
}
/* Categories */
._2sYIghGVXJr6tsQVvcryy8 {
    transition: .3s !important;
    background: unset !important;
    background-color: rgb(var(--bg-hover-dark)) !important;
    mask-image: linear-gradient(90deg, rgb(var(--bg-dark)) 70%, rgba(0, 0, 0, 0) 100%) !important;
}
/* ._2sYIghGVXJr6tsQVvcryy8:hover {
    background: var(--text-dark) !important;
} */
/* Name of Category */
.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb {
    transition: .15s !important;
    stroke: rgb(var(--text-dark)) !important;
}
.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb:hover {
    stroke: rgb(var(--text-hover-dark)) !important;
}
._3cV3O8FnPQqpJO5kIMUlLX {
    transition: .15s !important;
    color: rgb(var(--text-dark)) !important;
}
._2mZ8LlvoUiyeEUtIWuTri {
    transition: .15s !important;
}
._3cV3O8FnPQqpJO5kIMUlLX:hover ._2mZ8LlvoUiyeEUtIWuTri {
    color: rgb(var(--text-hover-dark)) !important;
}
/* Game in Category */
._2-O4ZG0KrnSrzISHBKctFQ {
    transition: .15s !important;
    mask-image: linear-gradient(90deg, rgb(var(--bg-dark)) 70%, rgba(0, 0, 0, 0) 100%) !important;
}
._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
    color: rgb(var(--text-dark)) !important;
}
._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
    color: rgb(var(--text-hover-dark)) !important;
}
._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph:hover, ._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph._3cMVyOc-9F9Jvp3uKF7_xj {
    color: rgb(var(--text-hover-dark)) !important;
}
._2-O4ZG0KrnSrzISHBKctFQ:hover, ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
    background-color: rgb(var(--bg-hover-dark)) !important;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
    background-color: rgb(var(--bg-hover-dark)) !important;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ :hover {
    background-color: rgb(var(--bg-hover-dark)) !important;
}
/* Input */
.DialogTextInputBase {
    border-radius: 8px !important;
    background-color: rgb(var(--bg-hover-dark)) !important;
}

/* Center */
/* General */
._2Dd4T78PcCTUVgOtDGFY5j, ._2gSXCB6PbOlMxslr8hm6dm {
    background: unset !important;
}
/* News */
._17uEBe5Ri8TMsnfELvs8-N {
    background: unset !important;
}
/* Games */
._3Sb2o_mQ30IDRh0C72QUUu {
    background: unset !important;
}
/* Collections */
.u1xD3KJEgksF_J_5TLZzO, ._2sNr7PFYcJZWNkEMCDVVPR {
    background: unset !important;
    border: unset !important;
}

/* Collection Item */
._3IWn-2rn7x98o5fDd0rAxb {
    background: unset !important;
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
._3IWn-2rn7x98o5fDd0rAxb:focus, ._3IWn-2rn7x98o5fDd0rAxb:hover {
    box-shadow: unset !important;
    border-color: rgb(var(--text-dark)) !important;
}

/* Updates */
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6, ._1HZy7BvOZuPT8feUwadL4W, .UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C, .fmLfuqm0Lxq5iPS5EHCAW, ._1AYE16384J_ecLpN0sEYc5  {
    transition: .3s !important;
    border: unset !important;
    border-radius: 24px !important;
    box-shadow: unset !important;
}
.Ru7OBQzSxqIo3jIsbtV9g {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
._1HZy7BvOZuPT8feUwadL4W:hover .Ru7OBQzSxqIo3jIsbtV9g {
    color: rgb(var(--text-hover-dark)) !important;
}
._1AYE16384J_ecLpN0sEYc5 {
    background: unset !important;
    background-color: rgb(var(--bg-hover-dark)) !important;
    filter: var(--bg-shadow) !important;
}
/* Small */
._1Cva_kor3lWBIoeu9cQxJq {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
._3QRf-tp5VddAF00vWY5Gn8:hover ._1Cva_kor3lWBIoeu9cQxJq {
    color: rgb(var(--text-hover-dark)) !important;
}
/* Major */
._39Zk32AvV5cr6g-83IVRVS {
    transition: .3s !important;
    border: unset !important;
    border-radius: 24px !important;
    box-shadow: unset !important;
    background: unset !important;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1) !important;
    filter: var(--bg-shadow) !important;
}
/* line */
._3oMUSjOFNB0E9LWcL2sE7 {
    background: unset !important;
}
._2tDv0EeJIdDmZLyfUE63t1, .LibriMVXcLl1HB60ZUp78, .fGDsmh9vz8h0RMEoRoAvF {
    border-radius: 20px !important;
}
.fGDsmh9vz8h0RMEoRoAvF:not(._3cX_vEKsN9S9EmR0O5w1Ol) {
    filter: var(--bg-shadow) !important;
}
/* BG */
.LibriMVXcLl1HB60ZUp78 {
    transition: .3s !important;
    background: rgba(0, 0, 0, 0.5) !important;
}
.LibriMVXcLl1HB60ZUp78:hover {
    background: rgba(255, 255, 255, 0.05) !important;
}
/* Text */
._3fsjzvni7TQ1NphLHM_5r3, ._3zwBRDW1egliiT4pKYIXap {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
.LibriMVXcLl1HB60ZUp78:hover ._3fsjzvni7TQ1NphLHM_5r3, .LibriMVXcLl1HB60ZUp78:hover ._3zwBRDW1egliiT4pKYIXap {
    color: rgb(var(--text-hover-dark)) !important;
}
/* Featured */
.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: unset !important;
    font-weight: 450 !important;
    padding: 5px !important;
    text-align: center !important;
    font-size: unset !important;
    position: absolute !important;
    left: 88% !important;
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1) !important;
    filter: var(--bg-shadow) !important;
}
/* BG */
._1HZy7BvOZuPT8feUwadL4W {
    transition: .3s !important;
    background: unset !important;
    /* background: rgba(0, 0, 0, 0.5) !important; */
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C ._1HZy7BvOZuPT8feUwadL4W {
    background: rgba(0, 0, 0, 0.5) !important;
}
._1HZy7BvOZuPT8feUwadL4W:hover {
    background: rgba(255, 255, 255, 0.05) !important;
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C ._1HZy7BvOZuPT8feUwadL4W:hover {
    background: rgba(255, 255, 255, 0.05) !important;
}
/* Text */
._1ujzuoxGhLunHZQqHAqRgg {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
._1gljEIuhbsQpFCWuVhdKTJ:not(._29bW1yCn25VTm4bFameBaV) {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
._3xi-HLpFVHaakihoqhQ_6C .Ru7OBQzSxqIo3jIsbtV9g {
    transition: .3s !important;
    color: rgb(var(--text-dark)) !important;
}
._1HZy7BvOZuPT8feUwadL4W:hover ._1gljEIuhbsQpFCWuVhdKTJ {
    color: rgb(var(--text-hover-dark)) !important;
}
._1HZy7BvOZuPT8feUwadL4W:hover .Ru7OBQzSxqIo3jIsbtV9g {
    color: rgb(var(--text-hover-dark)) !important;
}
/* Img */
.VytJzt3Z_t6332-n24Yrc {
    border-radius: 20px !important;
    filter: var(--bg-shadow) !important;
}
/* Cards */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    border-radius: 24px !important;
}
/* Etc */
._2IS7ZQo16varVLcyuFh4sY {
    padding: 8px 18px 8px 18px !important;
}
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    background: unset !important;
    background-color: rgb(var(--bg-hover-dark)) !important;
    filter: var(--bg-shadow) !important;
}
/* likes HUGE */
._2oPMu032IJnXb5-21W07V-, ._2BlTqJQonHkEpBSpiC1NEA, .H3AIY0blJD66-WY00q3AI  {
    border-radius: 50% !important;
}
/* Scroll To Top */
._1J21tLst5SEhBPkVRT53UV {
    transition: .15s !important;
}
._1J21tLst5SEhBPkVRT53UV div {
    transition: .15s !important;
    box-shadow: unset !important;
    filter: rgb(var(--bg-shadow)) !important;
}
/* You Played This Game for ... Hours */
._3LE-6w1ItIAB4CKJFCa3Od ._2z8Na_s9JosX48wHF4HPiA {
    width: 100% !important;
    /* transform: translate(23%, 0%) !important; */
}
._3LE-6w1ItIAB4CKJFCa3Od {
    background: unset !important;
}
._2SAb6geDpe6toA1GaP0GjH {
    border-radius: 24px !important;
    background-color: rgba(var(--bg-hover-dark), 0.8) !important;
    filter: var(--bg-shadow) !important;
}
._2SAb6geDpe6toA1GaP0GjH ._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ {
    font-weight: 500 !important;
}
/* btns */
._1kCN0pAntrcGCSmcc-vYdk {
    transition: .15s !important;
    border-radius: 24px !important;
    /* padding: 8px 5px !important; */
}
/* ._1kCN0pAntrcGCSmcc-vYdk:nth-child(n+1):nth-child(-n+2) span {
    visibility: hidden !important;
} */

/* no recent activity */
._2-kDc3UDR-GN6V1lBpSupb, ._3UShzJcf4CyVupLSI3kqfD {
    border-radius: 24px !important;
}

/* Additional Content */
._11iUUsCpGW7-08wUrrGpge {
    border-radius: 14px !important;
}

/* Achievments */
._2aVnDeExEHiUFX0zwr_BTO {
    background: unset !important;
    filter: var(--bg-shadow) !important;
}
._2gISWIeEzZ9PNuAzVuMaWd {
    background: rgb(var(--bg-hover-dark)) !important;
    filter: var(--bg-shadow) !important;
}
.SfyYvxDpnz-oGXMDxtqEf {
    width: 150% !important;
    height: 150% !important;
    left: -25% !important;
    right: -25% !important;
    bottom: -25% !important;
    top: -25% !important;
}
._2V2sHETNfa62yMoDwSF3_t {
    border-radius: 50% !important;
}
._1ABm6sfuqiZZDSL9z8mW1a {
    border-radius: 50% !important;
}
/* DLC */
._2bF7XkQZA1M7jTj6txLFp- ._3SQn1_upOaYSAJAn2N4YKY {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
._2bF7XkQZA1M7jTj6txLFp- .HAvWsE0-ycDj77SdyLXE- {
    border-radius: 12px !important;
}

/* Right Items */
/* Btns */
button.DialogButton._3Cdin80d-hVsakHUZboheb._3nJyYxGQ3kdwwabPmxNnMe {
    background: rgb(var(--bg-dark)) !important;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb._3nJyYxGQ3kdwwabPmxNnMe:hover {
    background: color-mix(in srgb, rgb(var(--bg-dark)), #fff 10%) !important;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb.Q7tULXy1gQNG1eU--hN27 {
    background: rgb(var(--bg-dark)) !important;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb.Q7tULXy1gQNG1eU--hN27:hover {
    background: color-mix(in srgb, rgb(var(--bg-dark)), #fff 10%) !important;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb.SLpyhiN-Dagi3V8ZKukaK {
    background: rgb(var(--bg-dark)) !important;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb.SLpyhiN-Dagi3V8ZKukaK:hover {
    background: color-mix(in srgb, rgb(var(--bg-dark)), #fff 10%) !important;
}
/* BG */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    transition: .15s !important;
    border: unset !important;
    background: rgb(var(--bg-hover-dark)) !important;
    border-radius: 24px !important;
    filter: var(--bg-shadow) !important;
}
._38t1mljBjmJfqjpVzMT1CG {
    transition: .15s !important;
    border: unset !important;
    background: rgb(var(--bg-hover-dark)) !important;
    box-shadow: unset !important;
    border-radius: 24px !important;
}
/* Text */
/* Titles */
._1Q2q_tQ9_Eq8YdEHNAHS3F {
    color: rgb(var(--text-dark)) !important;
}
/* Friends Played */
button.TextButton._34gmVq6C3FNtdHqDLa3-XR {
    transition: .15s !important;
}
._39bm0CkBxBjJsnPpAzoZlv .nTb1NqsRSnwl0UTOYn_JA {
    text-align: center !important;
    color: rgb(var(--text-dark)) !important;
}
._1GCZAht_W2I3Elndk5cU0- {
    border-radius: 24px !important;
}
/* Achievments Unlocked */
._3jC8om-5Sci_dkUB-6VYiU {
    text-align: center !important;
    color: rgb(var(--text-hover-dark)) !important;
}
/* locked */
._3ca11X3AK6npLS3emMa5Lr .uoFNFZ7Hs5cF1IjP2fvPw {
    text-align: center !important;
    color: rgb(var(--text-dark)) !important;
}
/* Lines */
._3ca11X3AK6npLS3emMa5Lr._3i6PczGBBYzCDZXkCDbJA {
    border-top: 1px solid rgba(var(--bg-dark), 0.2)
}
/* Steam Workshop */
._176QJCynkEUSdR_-9btdAW {
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
    filter: grayscale(1) var(--bg-shadow) !important;
}
/* Title & Read More */
._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._1KR5XpPLCIid-SJBY4jFIp, ._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3Mq6sekyFK-ftT7QO56xSv .YE_jJPwp0fBbRm1vQHIIq {
    transition: .15s !important;
    color: color-mix(in srgb, rgb(var(--text-hover-dark)), #000 20%) !important;
}
._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._1KR5XpPLCIid-SJBY4jFIp:hover, ._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3Mq6sekyFK-ftT7QO56xSv .YE_jJPwp0fBbRm1vQHIIq:hover {
    color: rgb(var(--text-hover-dark)) !important;
}
/* Desc */
._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3SzXrXnWa-W29h_4yF8Jwv {
    transition: .15s !important;
    color: rgb(var(--text-dark)) !important;
}
/* img */
._1W34WpqfvufNgueNdZozwC .gh2rjM-vD2oIms-jfWeCA {
    border-radius: 12px !important;
}
/* Review */
._2Z3ghRCL5qh2cqXrrd9l8Z ._17u7kJzj4gno8unUOzRaz- ._2EyEa4GxazAthx5c83AUGO {
    transition: .15s !important;
}
._2Z3ghRCL5qh2cqXrrd9l8Z ._17u7kJzj4gno8unUOzRaz- ._2cFKqVak8vsZdvk9mKdum_ {
    transition: .15s !important;
}
._2Z3ghRCL5qh2cqXrrd9l8Z ._17u7kJzj4gno8unUOzRaz-:hover .szq-QUt-0soxUfoD65BC7_ {
    fill: #fff !important;
}

/* Images Posted */
.rRIYiTtpDYzW3EQ2BH-Kw {
    border-radius: 20px !important;
}
._1pdQdoLxwmuMZpXXNHI2Uo ._290DqV3rdr3Mjn-Nfyv4My img {
    filter: var(--bg-shadow) !important;
    border-radius: 20px !important;
}
._23HTprMKEMzlqooblsDngK.tLc3yNucBVuLCkXDIvOzj, ._1d0ijEIDvERoDLj_8CO6pH.tLc3yNucBVuLCkXDIvOzj {
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 18px !important;
    backdrop-filter: unset !important;
    background: rgb(var(--bg-hover-dark)) !important;
}

/* Community Content */
._2lNdDLgjQdeBXmMlPO8lvq {
    text-align: center !important;
    border-radius: 24px !important;
    filter: var(--bg-shadow) !important;
    backdrop-filter: blur(5px) !important;
}

/* Change Preferred Copy */
._3NtZhwiPYTa9_A6u6hp8en {
    border-radius: 24px !important;
    background: rgb(var(--bg-hover-dark)) !important;
}

/* List FIX */
/* .DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, ._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer {
    background: unset !important;
} */
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    transition: .15s !important;
    background-color: color-mix(in srgb, rgb(var(--bg-hover-dark)), transparent 7%) !important;
    backdrop-filter: blur(5px) !important;
}

/* Post-Game Summary */
._2MKO5j24KqDdD-92hH5FXi {
    border-radius: 24px !important;
}
.P_gQ8X-yCsgXeXpP68KS0 {
    color: rgb(var(--text-dark)) !important;
}
._2MKO5j24KqDdD-92hH5FXi:after {
    border-radius: 24px !important;
    filter: var(--bg-shadow) !important;
}
/* Line */
._284XbL-B7aHiK4XgyI2DPS  {
    background: rgb(var(--bg-hover-dark)) !important;
}

/* Post Review */
.lNPFwADeWOcU-YOPlwMzV ._2gJ9F_Ox8xa-jD-JD0eNrB {
    border-radius: 24px !important;
}
/* bg */
.lNPFwADeWOcU-YOPlwMzV {
    border-radius: 24px !important;
    background: rgb(var(--bg-hover-dark)) !important;
}
/* line */
.lNPFwADeWOcU-YOPlwMzV ._2aeAnRfwltWfd9Hb9M_1uE {
    border-right: 1px solid rgb(var(--bg-dark)) !important;
}

/* Likes to Posts */
._1yWgPveQ73QeYCdLcs6oFQ ._161IKq84RwQO4abJSCqv7q, ._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K, ._1yWgPveQ73QeYCdLcs6oFQ ._35yrbgVC5TQttl8IPVlKQB {
    transition: .15s !important;
    border-radius: 24px !important;
}
._1yWgPveQ73QeYCdLcs6oFQ ._161IKq84RwQO4abJSCqv7q._3Mds9UG-5yRsWUclIV_Y9q:hover, ._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K._3Mds9UG-5yRsWUclIV_Y9q:hover, ._1yWgPveQ73QeYCdLcs6oFQ ._35yrbgVC5TQttl8IPVlKQB._3Mds9UG-5yRsWUclIV_Y9q:hover {
    background: rgb(var(--bg-hover-dark)) !important;
}