/* GENERAL */
/* Header Line */
div.ModalPosition_TopBar {
    background: linear-gradient(to right, transparent 10%, var(--virtualmenu-accent) 50%, transparent 90%) !important;
}
/* Position Fix */
/* .ModalPosition {
    height: 90% !important;
} */
/* News, Non-Product Fix, Launch As */
/* .ModalPosition._2JKpGzeAiwmBdY73bfRXz-, .ModalPosition._3StXNL1HvLIJMUxfaFLdX-, .ModalPosition:has(.DialogContent._DialogLayout._1tQy-wDVMFDobGfNObgSHR), .ModalPosition:has(.DialogLabel._DialogLayout._3T-1PliI6PkKE-bE-o3bV0) {
    height: 100% !important;
} */

/* FIXES */
/* Launching */
.DialogContent._DialogLayout._2KQRlxOL0nH2Mx4tAGxQQr {
    border-radius: 0px !important;
}
.DialogContent._DialogLayout._2KQRlxOL0nH2Mx4tAGxQQr .DialogContent_InnerWidth {
    overflow: hidden !important;
}

/* Shadow */
.ModalPosition_Content {
    box-shadow: unset !important;
    filter: var(--bg-shadow) !important;
}
/* Overlay */
.ModalOverlayBackground {
    backdrop-filter: blur(3px) !important;  
    transition: 0.2s !important;
    animation: 0.2s ease-in-out 0s 1 ModalLoadAnim !important;
}
/* Dialog */
.DialogContent._DialogLayout {
    border-radius: 24px !important;
    background: linear-gradient(45deg, rgba(23,24,27,1) 0%, rgb(var(--bg-dark)) 42%) !important;
    backdrop-filter: blur(10px) !important;
    filter: var(--bg-shadow) !important;
    padding: 24px !important;
    animation: 0.2s ease-in-out 0s 1 ModalLoadAnim !important;
}
@keyframes ModalLoadAnim {
    0% {
        opacity: 0;
        /* transform: scale(0); */
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
    }
}
/* FIX */
.DialogContent._DialogLayout.TODO {
    border-radius: unset !important;
}
/* Settings, Non-Product Fix */
.DialogContent._DialogLayout.CFTLX2wIKOK3hNV-fS7_V, .DialogContent._DialogLayout._1tQy-wDVMFDobGfNObgSHR {
    border-radius: 0px !important;
}
/* Header */
.DialogHeader {
    transition: .2s !important;
}
/* Dismiss */
.ModalPosition_Dismiss {
    right: 7px !important;
    transition: .2s !important;
}
/* Btns */
.DesktopUI .DialogFooter button.DialogButton {
    border-radius: 8px;
}

/* Left Col */
/* bg */
._2kwFFHckg8jvnwJfg9-la8 {
    background: rgb(var(--bg-hover-dark)) !important;
}
/* Tabs */
._1-vlriAtKYDViAEunue4VO {
    transition: .1s !important;
}
._1-vlriAtKYDViAEunue4VO._2DpXjzK3WWsOtUWUrcuOG7 {
    background: rgb(var(--bg-dark)) !important;
    filter: var(--bg-shadow) !important;
}
._1-vlriAtKYDViAEunue4VO svg, ._1-vlriAtKYDViAEunue4VO path, ._1-vlriAtKYDViAEunue4VO svg path {
    transition: .1s !important;
}
._1-vlriAtKYDViAEunue4VO svg path {
    fill: lightgray !important;
}
._1-vlriAtKYDViAEunue4VO:hover svg path {
    fill: black !important;
}
._1-vlriAtKYDViAEunue4VO._2DpXjzK3WWsOtUWUrcuOG7 svg path {
    fill: white !important;
}
._1Hye7o1wYIfc9TE9QKRW4T {
    background: unset !important;
    display: none !important;
}

html.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup ._1-vlriAtKYDViAEunue4VO:not(._1rD8X96FdnksZLvRRlEiCR) ._2PPbMrzl8PKBwpkjYs9b0i::before {
    transition: .1s !important;
}