/* Title */
._3Z3ohQ8-1NKnCZkbS6fvy {
    margin: auto;
}
.title-area .title-bar-actions {
    gap: 3px !important;
    margin: 5px !important;
}
.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
    background: rgb(var(--bg-hover-dark)) !important;
}
.DesktopUI .title-area-icon.closeButton:hover, .friendsui-container .title-area-icon.closeButton:hover {
    background: #e22a27 !important;
}
.title-area-icon {
    border-radius: 10px !important;
}
.title-area-icon .SVGIcon_Button rect, .title-area-icon .SVGIcon_Button line, .title-area-icon .SVGIcon_Button polyline  {
    stroke: rgb(var(--text-dark)) !important;
}
.title-area-icon:hover .SVGIcon_Button rect, .title-area-icon:hover .SVGIcon_Button line, .title-area-icon:hover .SVGIcon_Button polyline {
    stroke: rgb(var(--text-hover-dark)) !important;
}
/* Big Picture */
._3LKQ3S_yqrebeNLF6aeiog {
    transition: all .15s ease-out !important;
    border-radius: 10px !important;
    width: 32px !important;
    height: 32px !important;
    /* margin-top: 2px !important; */
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    transition: .15s !important;
}
._3LKQ3S_yqrebeNLF6aeiog path {
    fill: rgb(var(--text-dark)) !important;
}
._3LKQ3S_yqrebeNLF6aeiog:hover {
    background: rgb(var(--bg-hover-dark)) !important;
}
._3LKQ3S_yqrebeNLF6aeiog:hover path {
    fill: rgb(var(--text-hover-dark)) !important;
}
._2Szzh5sKyGgnLUR870zbDE:hover {
    color: rgb(var(--text-hover-dark)) !important;
}
._3LKQ3S_yqrebeNLF6aeiog ._34bQcTHo5QKzuujoEyU1tm {
    margin-top: 2px !important;
}
/* Notification */
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt {
    transition: all .15s ease-out !important;
    width: 32px !important;
    height: 32px !important;
    padding: unset !important;
    border-radius: 10px !important;
    background: unset !important;
    margin-bottom: 5px !important;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(._1QQWjaXmb1eTHZpeIhQA_5):hover, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:not(._1QQWjaXmb1eTHZpeIhQA_5):hover {
    background: rgb(var(--bg-hover-dark)) !important;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp ._34bQcTHo5QKzuujoEyU1tm, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt ._34bQcTHo5QKzuujoEyU1tm {
    color: rgb(var(--text-dark)) !important;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(._1QQWjaXmb1eTHZpeIhQA_5):hover ._34bQcTHo5QKzuujoEyU1tm, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:not(._1QQWjaXmb1eTHZpeIhQA_5):hover ._34bQcTHo5QKzuujoEyU1tm {
    color: rgb(var(--text-hover-dark)) !important;
}
/* News */
._5wILZhsLODVwGfcJ0hKmJ {
    color: rgb(var(--text-dark)) !important;
    transition: all .15s ease-out !important;
    width: 32px !important;
    height: 32px !important;
    padding: unset !important;
    border-radius: 10px !important;
    background: unset !important;
    margin-bottom: 5px !important;
}
._5wILZhsLODVwGfcJ0hKmJ:hover {
    background: rgb(var(--bg-hover-dark)) !important;
}
/* Back & Forward */
._3Z3ohQ8-1NKnCZkbS6fvy ._2D64jIEK7wpUR_NlObDW76 svg:nth-child(2) {
    order: 2 !important;
    margin-left: 10px !important;
    padding-bottom: 5px !important;
}
/* Remove Height */
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
	min-height: unset !important;
    height: unset !important;
}
/* Add Height */
._39oUCO1OuizVPwcnnv88no {
    height: 40px !important;
}
/* Center Items */
._3Z3ohQ8-1NKnCZkbS6fvy {
    position: absolute !important;
    top: 23px !important;
    left: 50% !important;
    width: fit-content !important;
    padding: 0 !important;
    transform: translate(-50%, -50%) !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
/* Color */
/* ._19axKcqYRuaJ8vdYKYmtTQ {
    color: var(--text-dark);
} */
/* Account Menu */
._3yD46y5pd3zOGR7CzKs0mC {
    transition: .2s !important;
    background: unset !important;
    border-radius: 10px !important;
    /* border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important; */
    margin-bottom: 5px !important;
    padding: 3px !important;
}
._3yD46y5pd3zOGR7CzKs0mC:hover {
    background: rgb(var(--bg-hover-dark)) !important;
    /* background-color: var(--virtualmenu-bg-hover) !important; */
}
/* Balance Fix */
._3yD46y5pd3zOGR7CzKs0mC ._2jphjrSifC6orDT4g_7Wd {
    padding-right: 4px !important;
}

/* Remove Lines */
/* ._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K {
    box-shadow: unset !important;
} */