/* Profile Btns */
.profile_header_actions .btn_profile_action {
    background: unset !important;
    transition: 0.3s !important;
    border-radius: 8px !important;
    background-color: color-mix(in srgb, rgb(var(--bg-dark)), transparent 60%) !important;
    backdrop-filter: blur(5px) !important;
}
.btn_profile_action > span {
    transition: 0.3s !important;
    background: unset !important;
}

/* Links */
.whiteLink{
    transition: 0.15s !important;
}
.whiteLink:hover {
    color: var(--virtualmenu-accent) !important;
}