.actual_persona_name {
    position: relative;
    display: inline-block;
}
.user-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.user-icon svg {
    width: 24px;
    height: 24px;
    margin-right: -6px;
}
.icon-tooltip {
    position: absolute;
    background-color: color-mix(in srgb, #161D25, transparent 60%);
    backdrop-filter: blur(10px);
    z-index: 1;
    color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
    transition: opacity 0.3s;
    z-index: 1000;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    box-shadow: 0 0 3px #000000;
    user-select: none;
    pointer-events: none;
    animation: fadeOut 0.3s forwards;
}
.user-icon:hover .icon-tooltip {
    animation: fadeIn 0.3s forwards;
}
.actual_persona_name.has-icon {
    padding-right: 24px;
}
.actual_persona_name.has-icon + * {
    margin-left: 6px;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

