._3yD46y5pd3zOGR7CzKs0mC {
    padding-right: 0 !important;
}

._3cykd-VfN_xBxf3Qxriccm._1-9sir4j_KQiMqdkZjQN0u .tool-tip-source:nth-child(3) div:not([class]) {
    display: none !important;
}
._3cykd-VfN_xBxf3Qxriccm._1-9sir4j_KQiMqdkZjQN0u .tool-tip-source:nth-child(3) svg {
    display: none !important;
}
