._1YbtIWcfkQJOysLXQbwzRf, .z8GYwNt_nbBZrf7OVjs-s, .z8GYwNt_nbBZrf7OVjs-s ._2g3Gley034M1ZGhcq005s {
    background: rgb(var(--bg-dark)) !important;
    filter: var(--bg-shadow) !important;
    border-radius: 12px !important;
}