._11cYvnWDwOeGdlUpfGNlYt ._3CJctA7pLVdwHzNF5JmORE._1urF0O1V4DZOkjI28mDvRK {
    padding: 16px 0 16px 24px;
}

._3YO5BpDmZERh_G8kaWbaSJ.Panel {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

.B-vCdL38RiJlhfSRgZv78 {
    display: none;
}

.aqYQCF7Ny9x3EKcjCOTRY {
    order: 2;
    margin-bottom: 0 !important;
}

._3_xMyCJAh_Dv99KgZ54P3j {
    position: unset !important;
    margin: 0 0 6px !important;
    padding: 0 !important;
    background-color: transparent !important;
}

._17uEBe5Ri8TMsnfELvs8-N {
    height: unset !important;
}

._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    transition: .15s !important;
    color: rgb(var(--text-dark)) !important;
    padding: 8px !important;
    border-radius: 12px !important;
    background: rgb(var(--bg-hover-dark)) !important;
}
.aqYQCF7Ny9x3EKcjCOTRY:hover ._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    color: rgb(var(--text-hover-dark)) !important;
}